.box{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mode{
    margin-top: 50px;
}
.bt{
    height: 50px;
    width: 100px;
}

.dark_mode{
    background-color: black;
    color: white;
}

.light_mode{
    background-color: white;
    color: black;
}